<header class="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 header-panel">
                <a href="/" class="logo">
                    <img src="/images/favicon/favicon-32x32.png"/>
                    <span>쌀먹툴</span>
                </a>

                <div class="hamburger">
                    <div class="hamburger-box collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu-panel" aria-expanded="false" aria-controls="menu-panel">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>

                <div id="menu-panel" class="menu-panel collapse">
                    <ul class="menu-list">
                        <li class="menu-item"><a href="/crafting">제작</a></li>
                        <li class="menu-item"><a href="/homework">숙제</a></li>
                    </ul>
                    <hr>
                    <div class="color-panel">
                        <div class="darkmode-toggle-wrapper">
                            <input type="checkbox" id="darkmode-toggle" aria-label="dark mode toggle" class="darkmode-toggle-checkbox">
                            <div class="darkmode-toggle-circle no-animation">
                            </div>
                            <span class="darkmode-toggle-emoji">🌚</span>
                            <span class="darkmode-toggle-emoji">🌞</span>
                        </div>
                    </div>
                    <div class="user-panel">
                        <div class="login-form" style="display:none;">
                            <a href="https://discord.com/oauth2/authorize?client_id=1281152044991909900&response_type=code&redirect_uri=http%3A%2F%2Fsmtool.test%2Flogin&scope=identify">로그인</a>
                        </div>
                        <div class="user-form" style="display:none;">
                            <span><b id="user-name"></b>님</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</header>

<div class="header-padding"></div>