<link rel="stylesheet" href="/stylesheets/crafts/style.css"/>
<link rel="stylesheet" href="/stylesheets/crafts/detail.css"/>

<div class="item-panel container mt-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="button-panel">
                <button class="back-btn"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="refresh-btn"><i class="fa-solid fa-arrows-rotate"></i></button>
                <button class="setting-btn"><i class="fa-solid fa-gear"></i></button>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="crafted-panel">
                <div class="icon">
                    <span class="slot grade-2">
                        <img src="https://cdn-lostark.game.onstove.com/EFUI_IconAtlas/Battle_Item/Battle_Item_01_53.png"/>
                    </span>
                </div>
                <div class="name">회오리 수류탄</div>
                <span>:</span>
                <div class="price">
                    <input type="number"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="recipe-panel container">
    <div class="row">
        <div class="col-sm-4">
            <div class="recipe">
                <div class="recipe-head">제작 공방</div>
                <div class="recipe-body">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="recipe">
                <div class="recipe-head">제작 공방</div>
                <div class="recipe-body">

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="recipe">
                <div class="recipe-head">제작 공방</div>
                <div class="recipe-body">

                </div>
            </div>
        </div>
    </div>
</div>

<script src="javascripts/crafts/detail.js"></script>