<div class="modal fade" id="setting-modal" tabindex="-1" role="dialog" aria-labelledby="setting-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="setting-modal-label">영지 효과 설정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="presets-panel">
                    <span>프리셋: </span>
                    <button class="active">1</button>
                    <button>2</button>
                    <button>3</button>
                </div>
                <div class="setting-split">
                    <div class="setting-section">
                        <div class="setting-title">
                            <span>수수료</span>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch">
                            </div>
                        </div>
                        <label class="setting-form">
                            <span>전체:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>물약:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>폭탄:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>수류탄:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>로브:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>물약:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>기타:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>요리:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>특수:</span>
                            <input type="number"/>
                        </label>
                    </div>
                    <div class="vr"></div>
                    <div class="setting-section">
                        <div class="setting-title">
                            <span>대성공<i class="fa-solid fa-circle-question" data-bs-toggle="tooltip" data-bs-title="기본 확률 5%"></i></span>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                        </div>
                        <label class="setting-form">
                            <span>전체:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>물약:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>폭탄:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>수류탄:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>로브:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>물약:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>기타:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>요리:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>특수:</span>
                            <input type="number"/>
                        </label>
                    </div>
                    <div class="vr"></div>
                    <div class="setting-section">
                        <div class="setting-title">
                            <span>활동력</span>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                        </div>
                        <label class="setting-form">
                            <span>전체:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>물약:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>폭탄:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>수류탄:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>로브:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>물약:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>기타:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>요리:</span>
                            <input type="number"/>
                        </label>
                        <label class="setting-form">
                            <span>특수:</span>
                            <input type="number"/>
                        </label>
                    </div>
                </div>
                <div class="modal-button-panel">
                    <button id="reset-btn" class="btn btn-sm btn-danger">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                    <button id="save-btn" class="btn btn-save">저장</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/crafts/modal.js"></script>
